:root{
    --primery-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3; 
    --button-text-color: #ffffff;
    --primery-bg--color: #2F303A;
    --button-bg-color: #F5F4FA;
    --portfolio-bg-color: #E5E5E5;  
    --border-image: #EEEEEE; 
    --icon-border:#AFB1B8;
    --bg-button-a: rgba(245, 244, 250, 1);
    --footer-coloe: rgba(255, 255, 255, 0.1);
    --color-position:  rgba(47, 48, 58, 0.8);
    --cubic:cubic-bezier(0.4, 0, 0.2, 1);
    --form-color:(255, 255, 255, 0.6);
}

body{
    background-color:var(--button-text-color);
    color:var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
   
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-page{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--border-image);
    }
 
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav{
    display: flex;
    align-items: center;
}

/*Logo*/

.logo{
    color: var(--title-text-color);
    
}
.logoweb{
    color: var(--accent-color) ;
}

.logo,.logoweb,.logo-footer{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    cursor: default;
    display: flex;
  }

/*Link*/
.site-nav{
    display: flex;
    margin-left: 93px;
    white-space: nowrap;
    
}

.site-nav .item + .item{
    
    margin-left: 50px;
}


.menu-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--title-text-color);

    text-decoration: none;
    cursor: pointer;

    transition: color 250ms var(--cubic);
    position: relative;
 }
 
.current::after {
    content:'';

    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;


}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.auth-nav{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
.auth-nav .item + .item{
    margin-left: 50px;
}

.auth-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primery-text-color);
    text-decoration: none;
    cursor: pointer;

    transition: color 250ms var(--cubic);

}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
}
.auth-nav .link-footer{
    text-decoration: none;
    cursor: default;
}
.header-page .current{
    color: var(--accent-color);
    
    
}
.mail-icon{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--primery-text-color);

    transition: color 250ms var(--cubic);

    
}
.mail-icon:hover{
    color: var(--accent-color);
    
}

.envelope{
    width: 20px;
    height: 16px;
    fill:currentColor;
    margin-right: 10px;
    
}


.smartphone{
    width: 16px;
    height: 22px;
    fill:currentColor;
    margin-right: 10px;
}


    
 /*Main*/
.hero{
    background-color:var(--primery-bg--color); 
    padding: 200px 0 200px;
    text-align: center;
}

.hero-title{
    color: var(--button-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
   
}

.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid var(--title-text-color);
    background-image: linear-gradient(
        
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
         url(../images/background.jpg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover; }


/*button*/

.first-button{
    background-color: var(--accent-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px; ;
    line-height: 1.85;
    letter-spacing: 0.06em;
    margin:0 auto;
    display: inline-block;
    box-shadow: 0px 4px 4px var(--title-text-color);
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    border: 1px solid transparent;}


 .secondary-button {
    background-color: var(--bg-button-a);
    color: var(--title-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;

    transition: background-color 250ms var(--cubic);
    transition: color 250ms var(--cubic);
    transition: box-shadow 250ms var(--cubic);

   
 }

.secondary-button:hover, 
.secondary-button:focus{
    background-color:var(--accent-color);
    color: var(--button-text-color);
   
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Section*/
.feature-list, .image-list{
    display: flex;
    flex-wrap: wrap;

}
.feature-list .item{
    width: 270px;
    margin-right: 30px;
}
.feature-list .item:last-child{
    margin-right: 0;
}

.image-list .item{
    width: 370px;
    margin-right: 30px;
}
.image-list .item:last-child{
    margin-right: 0;
}
.commands-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: -2px;
}

.commands-list .item{
    width: 270px;
    margin-right: 30px;
    background:var(--button-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.commands-list .item:last-child{
    margin-right: 0;
}
.socials{
    padding: 30px 32px;
}
.instagram-icon{
    display: flex;
    justify-content: center;
  
}

.instagram-item{
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: var(--button-text-color);
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    color:var(--icon-border);
    padding: 12px;

    transition: background-color 250ms var(--cubic);
  
}
.instagram-item:hover{
    background-color: var(--accent-color);
    color: var(--button-text-color);
}
.instagram{
    fill: currentColor;
    width: 20px;
    height: 20px;
    
}
.twitter{
    color: var(--button-text-color);
}

.section-commands{
    background-color: var(--button-bg-color);

}
.section, .section-commands{
    padding-top: 94px;
    padding-bottom: 94px;
}
.image-section{
    padding-top: 0;
}
.section-title{
     font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
   
    }


.visually-hidden { 
     position: absolute; 
     width: 1px; 
     height: 1px; 
     margin: -1px; 
     border: 0; 
     padding: 0; 
     white-space: nowrap; 
     clip-path: inset(100%); 
     clip: rect(0 0 0 0); 
     overflow: hidden; 
} 

.clock-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    margin-bottom: 30px;
  
}



.icon{
    width: 70px;
    height: 70px;
   fill: currentColor;
   justify-content: center;
    align-items: center;
  
}

.title{
    font-weight: 700;
    line-height: 1.14 ;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;

   }
   .title-text{
    color: var(--primery-text-color);
    text-decoration: none;
    line-height: 1.71;

}
   /*image-text*/
   .image-action{
    position: relative;
}
  .image-text{
      display: inline-flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  text-decoration: none;
 
  background-color: var(--color-position) ;
  color: var(--button-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    }  


 /*image-text*/


 .title-commands{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    margin-bottom: 10px;
 }

.section-commands p{
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}

.title-filter {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
   letter-spacing: 0.06em;
   cursor: default;
   margin-bottom: 4px;
 }
   
 .section .title-p {
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.88;
    cursor: default;
   
 }
 .picture-list{
     display: flex;
     flex-wrap: wrap;
 }
.picture-list .item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}







.picture-list .item:nth-child(3n){
    margin-right: 0;
}

.picture-list .item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.container-filter{
    border-right: 1px solid var(--border-image);
    border-left: 1px solid var(--border-image);
    border-bottom: 1px solid var(--border-image);
    padding: 20px 24px;
    
}

.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.button-list .item + .item{
    margin-left: 8px;
}
/*Footer*/
 footer{
    background-color: var(--primery-bg--color);
    padding-top: 60px;
    padding-bottom: 60px;
 }
.logo-footer,
.link-footer{
     color: var(--button-text-color);
 }
 .logo-footer{
     margin-bottom: 20px;
 }
 
 .link-footer{
     font-style: normal;
     margin-bottom: 20px;
     text-decoration: none;
 }
.link-footer1{
     text-decoration: none;
     font-style: normal;
     cursor: default;
     color: var(--primery-text-color);
 }
 .link-mail{
     text-decoration: none;
     cursor: default;
     color: var(--primery-text-color);
     font-style: normal;
 }
.link{
    text-decoration: none;
}

.mail-list .item:not(:last-child){
    margin-bottom:9px ;

}
.footer-adress{
    margin-top: 20px;
}



.icon-clients{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color:var(--title-text-color);
}
.icon-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}
.icon-list .item{
    margin-right: 30px;
    width: 170px;
    height: 92px;
}
.icon-list .item:last-child{
    margin-right: 0;
}


.icon-button{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 92px;
    border-radius: 4px;
     background-color: var(--button-text-color); 
     border: 1px solid var(--border-image);
    color: var(--icon-border);
    align-content: center;
    justify-content: center;  


    transition: border 250ms var(--cubic);
   

     
}
.icon-button:hover,
.icon-button:focus{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    

}
.icon-first{
    width: 146px;
    height: 106px;
    fill: currentColor;
    cursor: pointer;
    
}
.foster{
    width: 106px ;
    height:48px ;
}



.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-icon{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-text-color);
    margin-bottom: 20px;
    }
    .mail-list .item:last-child{
        display: flex;
    }
    .twitter-icon{
        display: flex; 
    }
    .mail-logo{
        margin-right: 70px;
    }
    .twitter{
        background-color: var(--footer-coloe);
    }
/*modal*/
    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    .backdrop.is-hidden{
        opacity: 0;
        pointer-events: none;
    }
    .backdrop.is-hidden .modal{
        transform: translate(-50%,-50%) ;
    }
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;

        width: 528px;
        height: 581px;
     
        background-color: var(--button-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
    }

 .close-icon{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 14px;
     height: 14px;
      
     transition: color 250ms var(--cubic);
    }
    .close-icon:hover{
        color: var(--accent-color);

    }
    .button-close{
       position: absolute;
       right: 8px;
       top: 8px;
       padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--button-text-color);
        border-radius: 50%; 
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    

.filter-link:hover{
    
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
.filter-link{
        display: block;
        transition: box-shadow 250ms var(--cubic);
      }

.porto-filter{
    position: relative;
    overflow: hidden;
   
}

  .porto-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--button-text-color);
    background-color:rgba(33, 150, 243, 0.9);

 
    transition: transform 250ms var(--cubic);

    transform: translateY(100%);
   

  }
 .filter-link:hover .porto-text{
   
     transform: translateY(0);
 }

.mail-submit-form{
    display: flex;
    align-items: flex-end;
    margin-left: auto ;
}

 .mail-form{
     display: flex;
     flex-direction: column;
    
     
 }
 .text-form{
   
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color:var(--button-text-color);
    
    font-weight: 700;

 }
.mail-form input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color:var(--button-text-color);

    border-radius: 4px;
    background-color: var(--primery-bg--color);
    margin: 0;
    padding: 0;
    padding-left: 16px;
 
   
}
.mail-form input::placeholder{
  
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    padding-top: 15px;
    padding-bottom: 15px;
}
.submit{
   width: 200px;
   height: 50px ;
   margin-left: 12px;
   background:var(--accent-color);
   border:var(--accent-color);
   border-radius: 4px;
   color: var(--button-text-color);
   cursor: pointer;
   display: inline-flex;
   justify-content: center;
   align-items: center;

   font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    
}
.submit::after{
    content:url(../images/icon\ send.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.submit-form{
    position: relative;
}
.submit-icon{
    position: absolute;

}



.modal-container{
    display: flex;
    flex-direction: column;

}
.modal-class input{
 width: 100%;
 height: 40px;
 margin-bottom: 10px;
 margin-top: 4px;
 padding-left: 42px;
outline: var(--accent-color);

 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 transition: border 250ms var(--cubic);
}

.modal-class input:hover,
.modal-class input:focus{
    border: 1px solid var(--accent-color); 
    cursor: pointer;
    fill: var(--accent-color);
}

.modal-class{
    position: relative;
}
.modal-icon{
   
    position: absolute;
    top: 32px;
    left: 15px;

    transition: fill 250ms var(--cubic);
}
.modal-class input:hover + .modal-icon{
    fill: var(--accent-color);
}

.name-icon{
    width: 12px;
    height: 12px;
}
.phone-icon{
    width: 14px;
    height: 14px;
}

.mailicon{
    width: 22px;
    height: 16px;
}
.modal-class textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    
     border-radius: 4px;
     transition: border 250ms var(--cubic);
}
.modal-class textarea:hover,
.modal-class textarea:focus{
    border: 1px solid var(--accent-color); 
    cursor: pointer;
    outline: var(--accent-color);
}

.modal-head{
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    margin-bottom: 12px;
}
.text-modal{
      
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
    color: var(--primery-text-color);
  
}
.form-text{
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;

  
    
}


.decision{
    color: var(--accent-color);

}

.modal-policy{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.label-checkbox{
    position: relative;
    display: block;
    padding-left: 25px;
    text-align: center;
 
}
.label-checkbox::before{
   position: absolute;
   left: 0;
   top: 0;
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    content: '';
    cursor: pointer;
    background-size: contain;
  
}

.label-checkbox::after{
    display: none;
    position: absolute;
     left: 0;
     top: 0;
     border-radius: 2px;
     cursor: pointer;
     width: 16px;
     height: 15px;
     background-color: var(--accent-color);
     border: 1px solid var(--accent-color);
     background-image: url(../images/icon\ check.svg);
     background-repeat: no-repeat;
     background-size: contain;
    
     content:'';
 }

.form-checkbox:checked + 
.label-checkbox::after{
    display: block;
}
.modal-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color:var(--button-text-color);
    transition: background-color 250ms var(--cubic);
}

.footer-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   background-color: #188CE8;
}
